actionlib==1.11.13
angles==1.9.11
astroid==1.6.6
backports.functools-lru-cache==1.5
base-local-planner==1.14.4
bondpy==1.8.3
camera-calibration==1.12.23
camera-calibration-parsers==1.11.13
capabilities==0.2.0
catkin==0.7.14
catkin-pkg==0.4.13
certifi==2019.11.28
configparser==4.0.2
controller-manager==0.13.3
controller-manager-msgs==0.13.3
controller-manager-tests==0.13.3
create-dashboard==2.3.1
create-driver==2.3.1
create-node==2.3.1
cv-bridge==1.12.8
diagnostic-analysis==1.9.3
diagnostic-common-diagnostics==1.9.3
diagnostic-updater==1.9.3
docutils==0.15.2
dynamic-reconfigure==1.5.50
empy==3.3.4
enum34==1.1.6
futures==3.3.0
gazebo-plugins==2.5.19
gazebo-ros==2.5.19
gencpp==0.6.0
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.11
gennodejs==2.0.1
genpy==0.6.7
image-geometry==1.12.8
interactive-markers==1.11.4
isort==4.3.21
kobuki-dashboard==0.5.7
laser-geometry==1.6.4
lazy-object-proxy==1.4.2
mavros==0.29.2
mccabe==0.6.1
message-filters==1.12.14
openni2-launch==0.4.2
pluginlib==1.11.3
pylint==1.9.5
pyparsing==2.4.2
python-dateutil==2.8.0
python-qt-binding==0.3.4
PyYAML==5.1.2
qt-dotgraph==0.3.11
qt-gui==0.3.11
qt-gui-cpp==0.3.11
qt-gui-py-common==0.3.11
resource-retriever==1.12.4
rocon-app-manager==0.9.1
rocon-app-utilities==0.9.1
rocon-apps==0.9.1
rocon-console==0.3.2
rocon-ebnf==0.3.2
rocon-gateway==0.8.1
rocon-gateway-utils==0.8.1
rocon-hub==0.8.1
rocon-hub-client==0.8.1
rocon-interactions==0.3.2
rocon-master-info==0.3.2
rocon-python-comms==0.3.2
rocon-python-redis==0.3.2
rocon-python-utils==0.3.2
rocon-python-wifi==0.3.2
rocon-semantic-version==0.3.2
rocon-uri==0.3.2
rosbag==1.12.14
rosboost-cfg==1.14.4
rosclean==1.14.4
roscreate==1.14.4
rosgraph==1.12.14
roslaunch==1.12.14
roslib==1.14.4
roslint==0.11.0
roslz4==1.12.14
rosmake==1.14.4
rosmaster==1.12.14
rosmsg==1.12.14
rosnode==1.12.14
rosparam==1.12.14
rospkg==1.1.10
rospy==1.12.14
rospy-message-converter==0.5.0
rosserial-python==0.7.7
rosservice==1.12.14
rostest==1.12.14
rostopic==1.12.14
rosunit==1.14.4
roswtf==1.12.14
rqt-action==0.4.9
rqt-bag==0.4.12
rqt-bag-plugins==0.4.12
rqt-console==0.4.8
rqt-dep==0.4.9
rqt-graph==0.4.9
rqt-gui==0.5.0
rqt-gui-py==0.5.0
rqt-image-view==0.4.13
rqt-joint-trajectory-controller==0.13.5
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.8
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.0
rqt-py-console==0.4.8
rqt-reconfigure==0.4.10
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.8
rqt-robot-steering==0.5.9
rqt-runtime-monitor==0.5.7
rqt-rviz==0.5.10
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.6.0
rqt-top==0.4.8
rqt-topic==0.4.10
rqt-web==0.4.8
rviz==1.12.16
sensor-msgs==1.12.7
singledispatch==3.4.0.3
six==1.12.0
smach==2.0.1
smach-ros==2.0.1
smclib==1.8.3
tf==1.11.9
tf-conversions==1.11.9
tf2-geometry-msgs==0.5.20
tf2-kdl==0.5.20
tf2-py==0.5.20
tf2-ros==0.5.20
topic-tools==1.12.14
turtlebot3-automatic-parking==1.1.0
turtlebot3-automatic-parking-vision==1.1.0
turtlebot3-autorace-camera==1.2.0
turtlebot3-autorace-control==1.2.0
turtlebot3-autorace-core==1.2.0
turtlebot3-autorace-detect==1.2.0
turtlebot3-example==1.2.0
turtlebot3-teleop==1.2.0
unique-id==1.0.5
world-canvas-server==0.2.0
world-canvas-utils==0.2.0
wrapt==1.11.2
xacro==1.11.3
