tensorflow
absl-py
alabaster
asn1crypto
astor
astropy
atomicwrites
attrs
babel
backcall
backports-abc
backports-os
backports-shutil-get-terminal-size                   
backports-ssl-match-hostname               
backports-weakref
beautifulsoup4
bitarray
bkcharts
numpy
bleach
bokeh
boto
bottleneck
cachetools
catkin
catkin_pkg
catkin-pkg
certifi
cffi
chardet
click
cloudpickle
colorama
contextlib2
cryptography
cycler
cython
cytoolz
dask
decorator
defusedxml
distributed
docutils
empy
entrypoints
et-xmlfile
fastcache
filelock
flask
flask-cors
funcsigs
functools32
future
futures
gast
gevent
glob2
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
h5py
heapdict
idna
imutils
intel-openmp
ipaddress
itsdangerous
jinja2
keras-applications
keras-preprocessing
kiwisolver
markdown
markupsafe
matplotlib
mkl
mock
more-itertools
msgpack
ninja
oauthlib
olefile
packaging
pathlib2
pillow
pip
pluggy
protobuf
psutil
py
pyasn1
pyasn1-modules
pycparser
pyparsing
pyside2
pytest
python
torch
pytz
pyyaml
readline
requests
requests-oauthlib
rsa
scandir
scikit-learn
scipy
setuptools
shiboken2
six
sortedcontainers
soupsieve
subprocess32
tblib
termcolor                
tk
toolz
torchvision
tornado
typing
urllib3
webencodings
werkzeug
wheel
rospkg
defusedxml
rosdep 
rosinstall_generator 
wstool 
rosinstall 
six 
vcstools
pathlib