<?xml version="1.0"?>
<launch>

   <!--<master auto="start"/>-->
 <!-- Run the map server --> 
    <!--<node name="map_server" pkg="map_server" type="map_server" args="$(find my_map_package)/my_map.pgm my_map_resolution"/>-->

 <!--- Run AMCL --> 
    <include file="$(find wall_following)/launch/wall_following.launch" />
    <node pkg="wall_following" name="twist_to_ackermann" type="twist_to_ackermann_teb.py" output="screen"/>
    

   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    
    <rosparam file="$(find wall_following)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find wall_following)/cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find wall_following)/cfg/local_costmap_param.yaml" command="load" />
    <rosparam file="$(find wall_following)/cfg/global_costmap.yaml" command="load" /> 
    <rosparam file="$(find wall_following)/cfg/base_local_planner_params.yaml" command="load" />

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="controller_frequency" value="15.0" />
 </node>
<node type="rviz" name="rviz" pkg="rviz" args="-d $(find hector_mapping)/launch/teb.rviz"/>
</launch> 
