<?xml version="1.0"?>
<launch>
  <!--This world name that is spawned in gazebo-->
  <arg name="world_name" default="racecar" />
  <arg name="gui" default="true" />
  <arg name="run_camera" default="false"/>

  <arg name="racecar_pose" default="-x 1.5 -y 0.05 -z 0.05"/>
  <arg name="racecar2_pose" default="-x 3.5 -y 1.05 -z 0.05"/>
  <arg name="racecar3_pose" default="-x -1.5 -y 0.05 -z 0.05"/>
  
  <!--launch the world-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find racecar_gazebo)/worlds/$(arg world_name).world"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="use_sim_time" value="true"/>
  </include>





<!--========================================================RACECAR==================================================================-->
<group ns="racecar">
<!--tf prefix for rviz-->
<param name="tf_prefix" value="racecar" />
 <!--spawn the car using the single car launch file-->
 <include file="$(find racecar_gazebo)/launch/single_car.launch">
      <arg name="init_pose" value="$(arg racecar_pose)"/>
      <arg name="car_name" value="racecar" />
 </include>
 </group>

  <arg name="car_name1" value="racecar"/>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find racecar_control)/config/racecar_control.yaml" command="load"/>

  <!-- load the controllers for this car -->
  <node name="controller_manager" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns='$(arg car_name1)' args="left_rear_wheel_velocity_controller right_rear_wheel_velocity_controller
                                            left_front_wheel_velocity_controller right_front_wheel_velocity_controller
                                            left_steering_hinge_position_controller right_steering_hinge_position_controller
                                            joint_state_controller"/>

  <!--create the mux for this car-->
  <include file="$(find racecar)/launch/mux_gen.launch" ns="vesc">
    <arg name="vesc_name" value="vesc"/>
  </include>

  <arg name="vesc_remap1" value='vesc'/>

  <!--Load the vesc controller for this car-->
  <node pkg="racecar_control" type="servo_commands_gen.py" name="servo_commands_$(arg car_name1)" output="screen" args='$(arg car_name1)'>
    <remap from="/$(arg car_name1)/ackermann_cmd_mux/output" to="/$(arg vesc_remap1)/low_level/ackermann_cmd_mux/output"/>
  </node>

  <!-- Allow for Gazebo to broadcast odom -->
  <node pkg="racecar_gazebo" name="gazebo_odometry_node_$(arg car_name1)" type="gazebo_odometry_gen.py" args="$(arg car_name1)" output="screen"/>

  <!--Using the odom information broadcasted by Gazebo to create the rest of the tf tree required by gazebo-->
  <node name="message_to_tf_$(arg car_name1)" pkg="race" type="message_to_tf_gen.py" args='$(arg car_name1)'/>

  <!--The messages we pass get passed via drive parameters and sim connector converts them to Ackermann stamped messages so that the car moves-->

  <node pkg="race" name="sim_connector_node_$(arg car_name1)" type="sim_connector_gen.py" args="$(arg car_name1) $(arg vesc_remap1)" output="screen"/>  

<!--==========================================================================================================================-->

<!--========================================================RACECAR2==================================================================-->
<group ns="racecar2">
<!--tf prefix for rviz-->
<param name="tf_prefix" value="racecar2" />
 <!--spawn the car using the single car launch file-->
 <include file="$(find racecar_gazebo)/launch/single_car.launch">
      <arg name="init_pose" value="$(arg racecar2_pose)" />
      <arg name="car_name" value="racecar2" />
 </include>
 </group>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  
  <arg name="car_name2" value="racecar2" />

  <rosparam file="$(find racecar_control)/config/racecar_control2.yaml" command="load"/>

  <!-- load the controllers for this car -->
  <node name="controller_manager" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns='$(arg car_name2)' args="left_rear_wheel_velocity_controller right_rear_wheel_velocity_controller
                                            left_front_wheel_velocity_controller right_front_wheel_velocity_controller
                                            left_steering_hinge_position_controller right_steering_hinge_position_controller
                                            joint_state_controller"/>

  <!--create the mux for this car-->
  <include file="$(find racecar)/launch/mux_gen.launch" ns="vesc2">
    <arg name="vesc_name" value="vesc2"/>
  </include>

  <arg name="vesc_remap2" value='vesc2'/>

  <!--Load the vesc controller for this car-->
  <node pkg="racecar_control" type="servo_commands_gen.py" name="servo_commands_$(arg car_name2)" output="screen" args='$(arg car_name2)'>
    <remap from="/$(arg car_name2)/ackermann_cmd_mux/output" to="/$(arg vesc_remap2)/low_level/ackermann_cmd_mux/output"/>
  </node>

  <!-- Allow for Gazebo to broadcast odom -->
  <node pkg="racecar_gazebo" name="gazebo_odometry_node_$(arg car_name2)" type="gazebo_odometry_gen.py" args="$(arg car_name2)" output="screen"/>

  <!--Using the odom information broadcasted by Gazebo to create the rest of the tf tree required by gazebo-->
  <node name="message_to_tf_$(arg car_name2)" pkg="race" type="message_to_tf_gen.py" args='$(arg car_name2)'/>

   <!--The messages we pass get passed via drive parameters and sim connector converts them to Ackermann stamped messages so that the car moves-->

  <node pkg="race" name="sim_connector_node_$(arg car_name2)" type="sim_connector_gen.py" args="$(arg car_name2) $(arg vesc_remap2)" output="screen"/>

  

<!--==========================================================================================================================-->


<!--========================================================RACECAR3==================================================================-->
<group ns="racecar3">
<!--tf prefix for rviz-->
<param name="tf_prefix" value="racecar3" />
 <!--spawn the car using the single car launch file-->
 <include file="$(find racecar_gazebo)/launch/single_car.launch">
      <arg name="init_pose" value="$(arg racecar3_pose)" />
      <arg name="car_name" value="racecar3" />
 </include>
 </group>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  
  <arg name="car_name" value="racecar3" />
  <arg name="control_name" value="racecar3" />
  <rosparam file="$(find racecar_control)/config/racecar_control_gen.yaml" subst_value="true" command="load">$(arg control_name)</rosparam>

  <!-- load the controllers for this car -->
  <node name="controller_manager" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns='$(arg car_name)' args="left_rear_wheel_velocity_controller right_rear_wheel_velocity_controller
                                            left_front_wheel_velocity_controller right_front_wheel_velocity_controller
                                            left_steering_hinge_position_controller right_steering_hinge_position_controller
                                            joint_state_controller"/>

  <!--create the mux for this car-->
  <include file="$(find racecar)/launch/mux_gen.launch" ns="vesc3">
    <arg name="vesc_name" value="vesc3"/>
  </include>

  <arg name="vesc_remap" value='vesc3'/>

  <!--Load the vesc controller for this car-->
  <node pkg="racecar_control" type="servo_commands_gen.py" name="servo_commands_$(arg car_name)" output="screen" args='$(arg car_name)'>
    <remap from="/$(arg car_name)/ackermann_cmd_mux/output" to="/$(arg vesc_remap)/low_level/ackermann_cmd_mux/output"/>
  </node>

  <!-- Allow for Gazebo to broadcast odom -->
  <node pkg="racecar_gazebo" name="gazebo_odometry_node_$(arg car_name)" type="gazebo_odometry_gen.py" args="$(arg car_name)" output="screen"/>

  <!--Using the odom information broadcasted by Gazebo to create the rest of the tf tree required by gazebo-->
  <node name="message_to_tf_$(arg car_name)" pkg="race" type="message_to_tf_gen.py" args='$(arg car_name)'/>

  <!--The messages we pass get passed via drive parameters and sim connector converts them to Ackermann stamped messages so that the car moves-->

  <node pkg="race" name="sim_connector_node_$(arg car_name)" type="sim_connector_gen.py" args="$(arg car_name) $(arg vesc_remap)" output="screen"/>

<!--==========================================================================================================================-->


  <!-- convert joint states to TF transforms for rviz, etc 
  <node name="robot_state_publisher2" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states2" to="/racecar2/joint_states" />
  </node>-->

    
</launch>
