<?xml version="1.0"?>
<launch>
  
    <!--initialize the arguments-->
    <arg name="world_name" default="track_porto"/>
    <arg name="car_name" default="racecar"/>
    <arg name="model_name" default="minivgg_1.hdf5"/>
    <arg name="csv_filename" default="track_porto_26780.csv"/>
    <arg name="lec_only" default="false"/>
    <arg name="map_file" default="$(find race)/maps/porto_track.yaml"/>
    <arg name="random_seed" default = "15"/>
    <arg name="freespace_file" default ="porto_freespace.txt"/>
    <arg name="num_obstacles" default="5"/>


    <!--launch the simulator-->
    <include file="$(find race)/launch/f1_tenth_devel.launch">
        <arg name ="world_name" value="$(arg world_name)"/>
    </include>

    <!--launch the speed node it will be constant in this case-->
    <node name="speed_node_$(arg car_name)" pkg="race" type="speed_node.py" unless="$(arg lec_only)" args='$(arg car_name)'/>

    <!--launch the lec model node-->
    <node pkg="computer_vision" name="lec_model" type="ros_classifier.py" unless="$(arg lec_only)" args="$(arg car_name) $(find computer_vision)models/$(arg model_name) 1" output="log"/>
    <node pkg="computer_vision" name="lec_model" type="ros_classifier.py" if="$(arg lec_only)" args="$(arg car_name) $(find computer_vision)models/$(arg model_name)" output="log"/>

    <!-- Run map server -->
	
	<node name="map_server" pkg="map_server" type="map_server" unless="$(arg lec_only)" args="$(arg map_file)" />

    <node pkg="race" type="safety_controller.py" name="safety_node" unless="$(arg lec_only)" args="racecar/scan racecar/safety" output="screen"/>

    <!--launch rviz to visualize reachable set-->
    <node pkg="rviz" type="rviz" name="rviz_display" unless="$(arg lec_only)" args="-d $(find race)/rviz/rtreach.rviz" output="log"/>

    <node pkg="racecar_gazebo" type="spawn_cone.py" name="spawn_cones" unless="$(arg lec_only)" args = "$(arg random_seed) $(arg freespace_file) $(arg num_obstacles)" output="screen"/>

</launch>