<?xml version="1.0"?>
<launch>
<!--launch gmapping version of slam from ros-->
   <param name="use_sim_time" value="true"/>
   <node pkg="gmapping" type="slam_gmapping" name="gmapping" output="screen">
       <remap from="scan" to="racecar/scan"/>
       <param name="base_frame" value="racecar/base_link"/>
       <param name="odom_frame" value="racecar/odom" />
       <param name="delta" value="0.05" />
       <param name="maxUrange" value="10.0" />
       <param name="linearUpdate" value="1.0" />
       <param name="angularUpdate" value="0.5"/>
       <param name="maxRange" value="10.0" />
       <param name="map_update_interval" value="3.0"/>
       <param name="iterations" value="5"/>
       <param name='transform_publish_period' value="0"/>
       <param name="xmin" value="-100.0"/>
       <param name="ymin" value="-100.0"/>
       <param name="xmax" value="100.0"/>
       <param name="ymax" value="100.0"/>
   </node>
   <!--<node pkg="tf" type="static_transform_publisher" name="base_link_laser_broadcaster" args="0.265 0 0.125 0 0 0 base_link laser 100"/>-->
   <node type="rviz" name="rviz" pkg="rviz" args="-d $(find hector_mapping)/launch/visualizationdefault.rviz" />
</launch>
