<?xml version="1.0"?>
<launch>

<!--initialize the arguments-->
    <arg name="world_name" default="track_porto"/>
    <arg name="car_name" default="racecar"/>
    <arg name="gui" default="true" />

    <!--waypoint file used by pure pursuit algorithm-->
    <arg name="csv_filename" default="track_porto_26780.csv"/>

    <arg name="map_file" default="$(find race)/maps/porto_track.yaml"/>
    <!--random seed used to allocte obstacles within vehicle environment-->
    <arg name="random_seed" default = "1516"/>

    <!--docker requirements-->
    <arg name="use_sim_time" default = "true"/>
    <arg name="verbose" default ="false"/>
    
    <!--launch the simulator-->
    <include file="$(find race)/launch/f1_tenth_rl.launch">
        <arg name ="world_name" value="$(arg world_name)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="use_sim_time" default = "$(arg use_sim_time)"/>
        <arg name="gui" value="$(arg gui)" />
    </include>

    <!-- Launch RVIZ -->
    
    <node pkg="mpc" type="mpc_drive.py" name="mpc_node" output="screen" required="true"/>


    <!-- Run map server -->
	  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!-- launch rviz to visualize reachable set -->
    <node pkg="rviz" type="rviz" name="rviz_display"  args="-d $(find race)/rviz/mpc.rviz" output="log"/>


    <!--<node pkg="mpc" type="visualize_points.py" name="visualization_marker_array" output="screen"/>-->








</launch>
