<?xml version="1.0"?>
<launch>

<!--initialize the arguments-->
    <arg name="world_name" default="track_porto"/>
    <arg name="gui" default="true" />
    <arg name="mpc_model" default="0"/>



    <!--Initial States of Vehicles for this scenario, ego car is racecar2-->
    <arg name="racecar_pose" default="-x -3.5 -y -0.2 -z 0.05"/>
    <arg name="racecar2_pose" default="-x 1.5 -y 1.0 -z 0.05"/>
    <arg name="racecar3_pose" default="-x -1.5 -y 0.05 -z 0.05"/>

    <!--waypoint file used by pure pursuit algorithm-->
    <arg name="csv_filename" default="track_porto_26780.csv"/>

    <arg name="map_file" default="$(find race)/maps/porto_track.yaml"/>
    <!--random seed used to allocte obstacles within vehicle environment-->
    <arg name="random_seed" default = "1516"/>

    <!--docker requirements-->
    <arg name="use_sim_time" default = "true"/>
    <arg name="verbose" default ="false"/>

    <!--multi-agent parameters-->
    <!--How many boxes to let rviz visualize-->
    <arg name="box_display_limit" default="100"/>

    <!-- reach-time is the time we are computing reachability for-->
    <arg name="reach_time" default="1.0"/>

    <!--wall-time is the time we allow the reachability algorithm to run for-->
    <arg name="wall_time" default="1.0"/>

    <!--number of vehicles to launch in the simulation environment-->
    <arg name='number_of_cars' default='2'/>

    <!--Select the car we are computing reachability for-->
    <arg name='car_name' default='racecar2'/>

    <arg name="rviz_disp" default="multiagent_reach.rviz"/>


    <!--  This is the main launch file that launches the world, plugins, controllers, vehicles -->
    <include file="$(find race)/launch/multi_parametrizeable.launch">
      <arg name="racecar_pose" value="$(arg racecar_pose)"/>
      <arg name="racecar2_pose" value="$(arg racecar2_pose)"/>
      <arg name="racecar3_pose" value="$(arg racecar3_pose)"/>
      <arg name="number_of_cars" value="$(arg number_of_cars)"/>
      <arg name="gui" value="$(arg gui)"/>
      <arg name="rviz_disp" value="$(arg rviz_disp)"/>
    </include>


    <!--
      GPU based particle filtering from MIT
    
     <include file="$(find particle_filter)/launch/localize.launch">
      <arg name="scan_topic" default="racecar/scan"/>
	    <arg name="odometry_topic" default="racecar/odom"/>
      <arg name="laser_frame" default="racecar/laser"/>
    </include>
    -->

    <node pkg="mpc" type="mpc_drive_hyperplanes.py" name="mpc_node" output="screen" if="$(eval arg('mpc_model')==0)" required="true"/> 
    <!--  <node pkg="mpc" type="mpcc_hyperplanes.py" name="mpc_node" output="screen" if="$(eval arg('mpc_model')==0)" required="true"/>-->
    <node pkg="mpc" type="mpc_gen.py" name="mpc_gen" output="screen" if="$(eval arg('mpc_model')==1)" required="true"/>
    <node pkg="mpc" type="mpc_bicycle.py" name="mpc_node" output="screen" if="$(eval arg('mpc_model')==2)" required="true"/>


    <!--Launch Pure Pursuit Node-->
    <node pkg="pure_pursuit" type="pure_pursuit_angle.py" name="pure_pursuit" args="$(arg car_name) $(arg csv_filename) none" output="screen" required="true"/> -->

    <node name="vehicle_1" pkg="rtreach" type="visualize_obs" args="racecar   $(arg wall_time) $(arg reach_time) $(arg box_display_limit)" output="log"/>

    <!-- controller for opponent vehicle  -->
    <node pkg="race" name="disparity_extender_opponent_vehicle" type="disparity_extender_vanderbilt_gen.py" args="racecar 10"/>



</launch>
